{{!-- form for posting new burgers --}}
<form action="/" method="POST">
    <label for="name">New Burger:</label>
    <input type="text" name="name"/>
    <input type="submit" value="Add Burger">
</form>